body{
    background-color: black;
}

.navbar{
    background-color: #529e47;
    padding-bottom: 0%;
    padding-right: 0%;
}

@media(max-width:699){
    .fundo{
        border-radius: 75%;
        background-color: white;
        margin-left: 100px;
        margin-right: 100px;
        padding: 50px;
    }
}

.d-inline-block{
    border-radius: 10px;
}

.logo{
    padding-top: 15px;
    text-align: center;
}

h1{
    font-size: 28px;
    text-align: center;
    color: white;
}

h2{
    font-size: 14px;
    text-align: center;
    color: #626262;
}

.fundo{
    border-radius: 15px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}

.p-3{
    font-size: 3rem;
    width: 100%;
    height: 100%;
    text-align: center; 
}

.btn{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    color: black;
}

.sub{
    color: black;
}

footer{
    padding-top: 10px;
    text-align: center;
    color: rgb(10 21 81);
}

.btn:hover{
    transform: scale(102%);
}

.d-inline-block:hover{
    transform: scale(105%);
}