body{
    background-image: url(https://cdn.discordapp.com/attachments/978644697461456907/985910411255746570/unknown.png);
    max-width: 100%;
    
}

.fundo{
    color: black;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 250px;
    padding: 50px;
}

h1{
    text-align: center;
}

hr{
    color: white;
}